body {
    margin: 0px;
    padding: 0px;
    background-color: #f6f5f5;
    font-family: poppins;
    box-sizing: border-box;
}
.navbar-brand
{
  font-size: 30px !important;
  
}
.nav-link
{
    font-size:22px !important;
   
}

.active {
    font-weight: bold;
    color: #2d2a2a;
}

.img-fluid
{
    width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.title {
    font-family: 'Prata', sans-serif;
    font-weight: 600;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    color: #000;
    text-align: center  ;
  
}

.section
{
    width: 80%;
    margin:auto;
}

/* ----  footer----- */
  
.grid-container {
    width: 100%;
    height: auto;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    position: relative;
    bottom: 0;
    top: 100%;
   
  }

  .grid-container  div {
    background-color: white;
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: auto;
  }

  .grid-container a{
      text-decoration: none;
      color: black;
      margin: 0px;
    
  }